[submodule "models/linear_regression"]
	path = models/linear_regression
	url = https://github.com/ModelZoo/LinearRegression.git
[submodule "models/image_classification"]
	path = models/image_classification
	url = https://github.com/ModelZoo/ImageClassification.git
[submodule "models/emotion_recognition"]
	path = models/emotion_recognition
	url = https://github.com/ModelZoo/EmotionRecognition.git
[submodule "model/face_scoring"]
	path = model/face_scoring
	url = https://github.com/ModelZoo/FaceScoring.git
