absl-py>=0.5.0
astor>=0.7.1
cycler>=0.10.0
h5py>=2.8.0
kiwisolver>=1.0.1
matplotlib>=3.0.0
numpy>=1.15.2
pandas>=0.23.4
protobuf>=3.6.1
pyparsing>=2.2.2
scipy>=1.1.0
six>=1.11.0
sklearn
tensorflow>=2.0.0
termcolor>=1.1.0
werkzeug>=0.15.3
loguru>=0.3.2
pyyaml>=5.1.2
